# All models available in AI Core can be found here: https://me.sap.com/notes/3437766
LITELLM_PROVIDER="sap"
MODEL_NAME="anthropic--claude-4.6-sonnet"

AICORE_CLIENT_ID=
AICORE_CLIENT_SECRET=
AICORE_AUTH_URL=https://------.hana.ondemand.com/oauth/token
AICORE_BASE_URL=https://------.hana.ondemand.com
AICORE_RESOURCE_GROUP=

IBD_TESTING=1
INVOKE_LIVE_MCP=1

CUSTOMER_REQUEST_MCP_URL=https://-----------.hana.ondemand.com/mcp/support-agent
SERVICE_LOCATOR_MCP_SERVER_URL=https://----------.integration.cloud.sap/service-locator-mcp-###

## Values from the Developer Hub subscription
SERVICE_LOCATOR_MCP_OAUTH_TOKEN_URL=https://--------.hana.ondemand.com/oauth/token
SERVICE_LOCATOR_MCP_OAUTH_CLIENT_ID=
SERVICE_LOCATOR_MCP_OAUTH_CLIENT_SECRET=
